* {
	font-family: Roboto, sans-serif;
}

.header {
	background-color: #1F2937;
	color: #F9FAF8;
	font-size: 48px;
}

.header-links {
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
	font-size: 18px;	
}